doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/github-markdown.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body.Documentation
    h1 Website API
    div.markdown-body
      block content
    br
    br
    footer
      hr
      div.DocData
        span.DocData-modified Modified
          time(datetime=docData.dates.modified.toISOString())= prettyDateString(docData.dates.modified)

        span.DocData-docSource
          a(href=docData.sources.doc) Document source