extends ../../../documentation
include ./api-v1-breadcrumbs_mixin
block content
  nav.Breadcrumbs
    ul
      li.Breadcrumbs--home
        a(href="/") API Home
      +breadcrumbs(docData.breadcrumbs)
  != mdRenderer.render(mdContent)